<% include partials/header.ejs %>
<div class = "banner">
  <div class = "login">
    <button type="button" class="btn btn-default">Login</button>
  </div>
  <div class = "header">
    <h1>kawaii as fuck</h1>
    <p class = "lead">Anitwitter is a Twitter clone for filthy weeaboos.</p>
    <button type="button" class="btn btn-primary btn-lg">Register, You Piece of Shit</button>
  </div>
</div>
<% include partials/footer.ejs %>